<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mobeelizer-configuration"
    type="Com.Mobeelizer.Mobile.Wp7.Configuration.MobeelizerConfigurationSection, wp7-sdk" />
  </configSections>
  <mobeelizer-configuration>
    <properties>
      <add name="mode" value="test"/>
      <add name="device" value="mobile"/>
      <add name="definitionAsset" value="Resources/application.xml" />
      <add name="entitiesNamespace" value="wp7_api_demos.Model.MobeelizerModels, wp7-api-demos" />
      <!--<add name="mobeelizerUrl" value="http://localhost:8080/sync"/>-->
    </properties>
  </mobeelizer-configuration>
</configuration>
